.Login{
	-fx-background-color: linear-gradient(to right, rgb(0, 191, 143), rgb(0, 21, 16));
	/*-fx-background-color: linear-gradient(to right, rgb(135, 0, 0), rgb(25, 10, 5));*/
}

.Campo{
	-fx-pref-width: 250px;
	-fx-pref-height: 35px;
	-fx-background-radius: 15px;
}

.Botao{
	-fx-pref-width: 220px;
	-fx-pref-height: 35px;
	-fx-background-color: black;
	-fx-background-radius: 15px;
	-fx-border-color: white;
	-fx-border-radius: 15px;
}

.Label{
	-fx-text-fill: white;
	-fx-font-size: 17px;
	-fx-text-weight: left;
	-fx-padding: 10, 0, 0, 0;
	
}