
body{
	background: linear-gradient(to right, rgb(0, 82, 212), rgb(67, 100, 247), rgb(111, 177, 252));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Campo{
	background-color: gray;
}